.container{
	margin-top: 1em;
	background-color: ;
}
.form-search{
	padding-bottom: 0.5em;
}
.List{
	 text-align: center;
	 padding: 0.2em 0;
	 border-radius: 100px;
}
.OtsTopVnutri{
	padding-top: 1em;
}
#ButLog{
	 float: right;
}
#InfoProfile{
	padding-left: 2em;
	 float: left;
}
.search{
	 width: 80%;
	 border-radius: 100px;
}
table{
	border-spacing: 0.2em;
}